[2016-03-25 03:03] gabrielrcouto opened #1 "Images for README"
![logo-180px](https://cloud.githubusercontent.com/assets/2197005/14036936/f3457ba0-f21c-11e5-886a-f754e8109c28.png)

[2016-03-25 03:11] gabrielrcouto opened #2 "Get a property value"
When we will get a component property ($button->value), it will be need to:

- Send a command to Lazarus
- Block PHP until the command response
- Return the property value

[2016-03-25 03:14] gabrielrcouto opened #3 "Call an object method"
Sometimes we will need to call a object method, like ScrollBy(DeltaX, DeltaY) for scrolling a text field.

[2016-03-25 03:17] gabrielrcouto opened #4 "Convert RGB to TColor"
For PHP, it's more easy to use RGB on color properties. On Lazarus, we will need to convert the RGB to TColor (and vice-versa).

[2016-03-25 03:17] gabrielrcouto opened #5 "Windows Binary"
Compile the Lazarus for Windows

[2016-03-25 03:25] gabrielrcouto commented on #1
![captura de tela 2016-03-25 as 00 24 25](https://cloud.githubusercontent.com/assets/2197005/14037217/07de6574-f220-11e5-8020-bb7e625db151.png)

[2016-03-25 03:58] #1 closed

[2016-03-26 15:25] #2 closed

[2016-03-26 16:52] gabrielrcouto opened #7 "Multiple Forms Support"
Currently, we have a self created main form (Form1). The ideia is to:
- add the main form to objects array
- add the method getMainForm into the Application
- add a Form parameter to object constructor. If null, will be created into the mainForm.

[2016-03-26 16:55] gabrielrcouto opened #8 "Get/Set Lazarus Application properties"
We need to change the Application Title, Icon...
The idea is to put the Application into the objects array, will be the index 0.

[2016-03-27 04:30] gabrielrcouto commented on #4
Not needed, we can use the TColor as Integer \o/

[2016-03-27 04:30] #4 closed

[2016-03-27 04:31] gabrielrcouto commented on #4
When converting from #rrggbb hex color format, need to use #bbggrr and convert the hex (bbggrr) to int

[2016-03-27 22:28] reisraff opened #12 "Bug: Gui\Ipc\Receiver"
sometimes the $application->process->stdout wait for a some data length to write, and with it, the Receiver::onData() can't to process the message because sometimes the message came that way:

[code]

As you can see, after the end of the 1st JSON is the letter "G", and it's beeing sent by the lazaruz binary.

So, with the following condition the PHP goes inside the if statement, but in the next in

[2016-03-27 22:32] reisraff commented on #12
And as the process->stdout works that way, I mean that sometimes the Receiver::onData() can receive 2 or more jsons, and it MUST be splitted. and it is not being done.

[2016-03-28 12:23] gabrielrcouto commented on #12
I think we need to do on PHP the same message splitting which was implemented on Lazarus.
And I agree to use {"method":"debug"} for Lazarus debugging messages.

[2016-03-29 01:19] #12 closed

[2016-03-29 12:27] gabrielrcouto commented on #3
After searching a lot of RTTI on Lazarus:
- Only published methods can be found via RTTI :cry:
- The TVmt doesn't contains the name of other methods
- You can see the addess of a method (like the Hide method): inttostr(longint(@objArray[1].Hide))
- The TComponent methods addess will be the same for all objects

[2016-03-29 12:29] gabrielrcouto commented on #3
The easiest solution is to do a big switch and call the methods manually, without reflection.

[2016-03-29 13:28] pokemaobr commented on #5
I made the compilation for Windows, but, we need to test more the things to get the events. Can I up the .exe?

[2016-03-29 13:44] reisraff commented on #3
How many methods do you think the LCL have?

[2016-03-29 13:44] reisraff commented on #5
Yeah, I can help you with the tests.

[2016-03-29 13:48] pokemaobr commented on #5
This night I up.

[2016-03-29 16:42] #7 closed

[2016-03-30 15:34] reisraff commented on #3
#17

[2016-03-31 02:07] gabrielrcouto opened #18 "Multiple Continuos IPC messages performance"
In example "05-canvas" is possible to see what happens when multiple IPC messages are sent. After a while, the messages are ignored by Lazarus, the GUI still works, but don't receive anymore new IPC messages (still sends).

Can be:
- The buffer size
- The JSON performance
- The Lazarus thread reading performance
- The need of a protocol like TCP, based on a pool (PHP only sends message 2 after the

[2016-03-31 02:08] gabrielrcouto commented on #8
Waiting to be able to set the icon to close this issue...

[2016-03-31 02:09] gabrielrcouto commented on #3
Ok, we will go without reflection. :cry:

[2016-03-31 02:09] #3 closed

[2016-03-31 02:10] gabrielrcouto commented on #5
@pokemaobr: What night? :stuck_out_tongue_winking_eye:

[2016-03-31 14:48] pokemaobr commented on #5
Morning...

[2016-03-31 18:08] pokemaobr commented on #5
You can close this :)

[2016-04-01 00:48] reisraff commented on #18
It is a bug that PR #21 fixes.

[2016-04-01 03:34] rogeriopradoj opened #23 "Autofocus of window would be great"
Running examples I realize that the window php-gui opens are hidden behind other applications, I guess the issue is because of Autofocus not being used yet.

[2016-04-02 17:44] gabrielrcouto commented on #18
After some rafactor, I found the answer: this bug is about the buffer size.

On linux, the std pipes have only 65536 bytes (OSX 16384 bytes). We will need to buffer on each side (like a queue), PHP and Lazarus, and send the messages in slices, waiting for the other side to reply "Ok, I gotted, you can send more data". Unfortunately this will slow down the communication.

[2016-04-02 18:19] pokemaobr opened #24 "No action in buttons on Windows"
In Windows the Lazarus doesn't execute the actions.

[2016-04-03 14:53] gabrielrcouto commented on #18
Ok, implemented a solution on PHP side. Works like a charm :smile:

[2016-04-03 16:25] reisraff commented on #18
:+1:

[2016-04-03 18:38] gabrielrcouto commented on #24
Ok, I found the bug. On Windows, the fread to stdout is blocking, and the PHP will hangs after the first fread.

The React\Stream uses fread to handle data. I will fork the React\Stream project, apply a patch and update our composer.json. Unfortunately, I think the core team from React\Stream will not accept my solution as a PR.

@pokemaobr: Could you please do a test? Edit your 'vendor/react/stre

[2016-04-03 18:53] reisraff commented on #24
I see 4 options

1. Refactor the React\ChildProcess\Process and all mentions of React\Stream\Stream abstracting it all.
2. Try to send a PR
3. Open a github team for the PHP-GUI, and do a fork there.
4. As we talked, to pause the stream and do something like we made with waitingMessage on Receiver.

[2016-04-03 19:50] pokemaobr commented on #24
@bob @reisraff Doing the change @bob as proposed, the commands on Windows buttons come back to life :) What do we do now?

[2016-04-04 16:08] gabrielrcouto commented on #24
@pokemaobr: I will implement the solution 4, as proposed by @reisraff :smile:
After this, we need to test on Windows with PHP 5.6 and PHP 7.

[2016-04-04 16:27] #24 closed

[2016-04-04 16:56] reisraff commented on #23
See this PR #26

[2016-04-04 22:03] reisraff commented on #8
Done! #28

[2016-04-05 01:11] #23 closed

[2016-04-05 01:12] #8 closed

[2016-04-05 02:27] #18 closed

[2016-04-05 07:11] rogeriopradoj commented on #23
Not working on OS X 10.10.5. The window still hidden.

[2016-04-05 14:44] reisraff commented on #23
@gabrielrcouto do you have some idea of how do this to work in OSX 10.10.5?

[2016-04-05 15:24] pokemaobr commented on #23
People, the commands on buttons returned to fail in Windows. I click on the buttons and have no reason. When I close the window all the "callObjectEventListeners" appear on console.

[2016-04-05 16:26] reisraff opened #32 "Use interface to check if the message is a command or an event"
example:

[code]

And also change all method signature adding the type hinting.

[2016-04-05 16:30] pokemaobr commented on #23
But the focus is working

[2016-04-05 16:51] reisraff opened #33 "Create an object for radio/select item"

[2016-04-05 17:23] reisraff opened #35 "@todo"
[code]

[2016-04-05 21:53] rogeriopradoj commented on #23
@pokemaobr , it's the same that is happening to me on windows.

[2016-04-06 00:16] gabrielrcouto commented on #23
@pokemaobr: Thank you, I found the bug. Could you, please, test again?
@rogeriopradoj: Unfortunately, auto focus on OSX will not work. OSX just do the auto focus when you open an app using "open nameOfThe.app", but, to be able to communicate with the process via stdin/stdout, we need to open the app using the binary (it's inside the .app).

[2016-04-07 02:30] gabrielrcouto commented on #1
![xsfd2g9sqp](https://cloud.githubusercontent.com/assets/2197005/14338716/85ef00a2-fc4f-11e5-8ae8-7a0d5be74723.gif)

[2016-04-08 17:10] marabesi opened #41 "Screen freezing"
Hello guys,

I've been using Ubuntu for a while and I tried to run the code shown in README.md file but my screen just freeze when I run it.

[code]

My O.S : Ubuntu 14.04

any ideas ?

[2016-04-08 17:17] reisraff commented on #41
which is your php version? and the window appears?

[2016-04-08 19:15] ricardofontanelli commented on #41
@marabesi I'm running it ok in my Ubuntu Desktop 14.04 LTS. It is showing you the execution log on terminal?

[2016-04-08 19:32] marabesi commented on #41
my php version is 5.5.9

[2016-04-08 19:32] pokemaobr commented on #41
Requirements

The following PHP versions are supported:

PHP 5.6
PHP 7
HHVM
And OS:

Linux x64
Windows x64
Mac OSX (tested on 10.10.x and 10.11.x)

[2016-04-08 19:33] marabesi commented on #41
@ricardofontanelli I can't access  my terminal after execute the php script. I have to reboot to get my machine working again , thought, I haven't tried php 7. This error can occur because my php version is old

[2016-04-08 19:33] marabesi commented on #41
@pokemaobr yeap that is it, my bad. Thanks folks : D

[2016-04-08 19:33] #41 closed

[2016-04-08 19:34] leonnleite commented on #41
@marabesi PHP versions are supported:
PHP 5.6
PHP 7
HHVM

the problem is possibly your version

[2016-04-09 00:50] gabrielrcouto opened #43 "A better IPC Protocol"
We can use a better IPC Protocol, it need to be:

- Faster to encode/decode
- Use less memory
- Easy to split a big message
- Binary (no need to be human readable)

Suggestions:
- https://github.com/google/flatbuffers
- https://github.com/google/protobuf
- https://capnproto.org/
- http://mechanical-sympathy.blogspot.com.br/2014/05/simple-binary-encoding.html

A great comparison: https://capnproto.

[2016-04-09 14:29] ionas opened #45 "iOS"
Which there was an easy way to get a PHP+SQLITE stack up and running on iOS ;)
Then one could deploy the same app to clients as to the server (distributed software system)

[2016-04-09 14:30] ionas commented on #45
I know its OffTopic so closing :p

[2016-04-09 14:30] #45 closed

[2016-04-09 14:32] gabrielrcouto opened #46 "Click event detect right click"
It's a good usage for desktop app to make a popup on right click.

[2016-04-09 14:37] gabrielrcouto commented on #45
It will be amazing! Lazarus can compile for iOS, we just need a way to pack everything together.

[2016-04-09 14:39] gabrielrcouto opened #47 "Be able to destroy objects"
We can create, we need to be able to destroy! :+1:

[2016-04-09 15:58] ionas commented on #45
That would be very cool. I don't know about the state of a bundled sql databased, sqlite will be sufficient for most stuff.

[2016-04-11 15:37] HuanMeng0 opened #53 "How to compile?"
I'm currently using PHP-GUI wrote a program, how to compile it into exe?

[2016-04-11 16:34] gabrielrcouto opened #54 "Remove Lazarus compilation artifacts"
Source: [Reddit](https://www.reddit.com/r/PHP/comments/4e0g2l/phpgui_extensionless_php_graphic_user_interface/d1we59r)

"We can remove about 32MB of the lazarus directory, it's filled with compilation artifacts."

[2016-04-11 16:38] gabrielrcouto commented on #53
Thank you for using the project :smile:

Sorry, but PHP-GUI doesn't provide a way to do that.

If you want to distribute the application for "non PHP developers", you will need to use a "packer" (and it can be easily another project). Today, you can generate a .phar for each platform (with just the binaries for each platform) using something like https://github.com/box-project/box2. Of course, you

[2016-04-11 16:38] #53 closed

[2016-04-11 17:37] tfont opened #55 "Installation failure from Composer"
You are running composer with xdebug enabled. This has a major impact on runtime performance. See https://getcomposer.org/xdebug
Using version ^0.1.0 for gabrielrcouto/php-gui
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1

[2016-04-11 20:30] Simplesmente commented on #33
But these class don't ready done in Components ?

[2016-04-11 20:35] reisraff commented on #33
Hey @Simplesmente, Gui\Components\Radio and Gui\Components\Select already exists, but Item not yet.

https://github.com/gabrielrcouto/php-gui/blob/master/src/Components/Radio.php#L32

As you can see in the link we're checking if is string and something like this. IMO should be better that each array item must be and Gui\Components\Item for example.

[2016-04-12 01:12] gabrieljmj commented on #55
Did you tried update your Composer?
[code]

[2016-04-12 07:39] tfont commented on #55
Yes. This error was taken after!

[2016-04-12 14:58] reisraff opened #59 "Documentation: change from v0.1 to v0.1.0"
File: https://github.com/gabrielrcouto/php-gui/blob/gh-pages/src/src/assets/versions.json
Dir: https://github.com/gabrielrcouto/php-gui/tree/gh-pages/src/src/assets/markdown/0.1

[2016-04-12 15:01] reisraff opened #60 "Documentation: escape <p>"
we can see a example in the next line after: https://github.com/gabrielrcouto/php-gui/blob/gh-pages/src/src/assets/markdown/0.1/Gui-Application.md#arguments-1

[2016-04-12 15:18] gabrielrcouto opened #61 "Alert component"
Develop an Alert component or Application function.

![ic725760](https://cloud.githubusercontent.com/assets/2197005/14465239/90403992-00a8-11e6-911a-ce86ecb95d68.png)

[2016-04-14 08:59] Churanos commented on #43
I'm not sure about splitting big data, but [msgpack](https://github.com/msgpack/msgpack) might be an option.

[2016-04-14 11:43] tfont commented on #55
After a bit of detail digging, I realized that I '_followed_' the instructions too direct.

Instead of running "composer require gabrielrcouto/php-gui" which was what I did at first, I ran "composer update" within the directory **after** retrieving the GIT repo directly (using GIT).

Also in addition, I removed dev from squizlabs/php_codesniffer: "2.0.*@dev" to "2.0.*"

And all worked fine :+1:

[2016-04-14 11:43] #55 closed

[2016-04-21 16:23] #60 closed

[2016-04-21 16:23] #59 closed

[2016-04-22 18:17] darkphase opened #72 "Protocol"
Good Idea..
Looks similar to GTKserver Project. ( so why restrained with just PHP, right? )
Seperating GUI and App Logic should eliminate UI hangout problems inherent in PHP GUI solutions. ( unless protocol is "sync". )
I compiled the executable but...
Is there a protocol documention? ( So one may write his/her own proxy libs. )
How we talk to executable? (I am illiterate in Pascal)

Keep up the e

[2016-04-24 11:27] qbitza commented on #43
Switching to BSON would be fairly easy when combining the Pascal side to mORMot

[2016-04-24 12:15] qbitza commented on #72
The Protocol is documented here: https://github.com/gabrielrcouto/php-gui/blob/master/PROTOCOL.md

The executable listens on stdin for JSON commands.

[2016-04-25 12:35] qbitza commented on #46
Not that easy to implement due to a lack of onRightClick events on Lazarus. We'll have to simulate with OnMouseUp event. How do you propose to do this?
a) implement a proxy event handler, or
b) create a descended component which generates an onRightClick event.

Also consider that Mac mouses have only one button, and a right click is simulated by pressing the Apple/Command key and clicking.

[2016-04-25 23:20] darkphase commented on #72
Thanks,
Is is possible to create and destroy windows?

[2016-04-26 12:20] #61 closed

[2016-04-26 12:21] pyrkamarcin opened #76 "Run without console"
Is it possible to run applications written without opening the console in the background?

[2016-04-27 13:00] rodrigowbazevedo commented on #76
You can execute with nohup

[2016-05-04 05:16] JetAlone commented on #76
Yeap.
But I don't know a Win methods. I check all like "START /B" and none gave the desired outcome.

[2016-05-08 13:18] ByBrunoSan opened #77 "Add vendor folder in "src" to correct the PSR-0"
In **PSR-0** a fully-qualified namespace and class must have the following structure:
` \<Vendor Name>\(<Namespace>\)*<Class Name>`

And the current structure of **php-gui** don't have a vendor name. Why?

[2016-05-08 13:32] gabrielrcouto commented on #77
Because it's not PSR-0, it's PSR-4, you can see this into composer.json:

[code]

[2016-05-08 13:32] #77 closed

[2016-05-08 13:40] gabrielrcouto commented on #76
We need a better way to do that. I'm thinking to enable the Lazarus application to start PHP if it is started by the user (and not by PHP). This is a step to have a "packer" for the GUI application.

[2016-05-08 13:56] gabrielrcouto commented on #72
Thank you very much @darkphase. When I was doing my research (before the implementation), I found the GTKserver, and it was an inspiration.

As @qbitza said, the protocol is documented, and it uses JSON messages (based on JSON RPC) via STDIN/STDOUT. I'm testing a better protocol (#43), and JSON could be replaced by a binary protocol.

I agree that the GUI can be used by another languages, but my f

[2016-05-08 13:56] #72 closed

[2016-05-08 23:32] gabrielrcouto commented on #43
Well, I did some tests:

- capnproto/protobuf/msgpack doesn't have a good Free Pascal implementation
- all alternative PHP encoders are slower than json if we use a pure PHP implementation (and not an extension)

We can see some bech for PHP encoders [HERE](https://mihai-stancu.ro/2015/10/01/a-collection-of-thoroughly-random-encoders/) and [HERE](https://coderwall.com/p/ccdryg/benchmarking-bson-js

[2016-05-08 23:44] gabrielrcouto commented on #46
Good point @qbitza!

I vote for "b", we can "simulate" in Lazarus side the onRightClick event using the OnMouseUp.

[2016-05-09 09:03] qbitza commented on #76
See PHP4Lazarus project - https://github.com/rnapoles/PHP4Lazarus

[2016-05-09 13:08] fabioassuncao commented on #76
@gabrielrcouto, a packer will be of great importance for apps distributions with PHP GUI. It's very exciting! :D

[2016-05-09 18:56] qbitza commented on #46
I don't know @gabrielrcouto that would mean we need a new class for every right click-able component we want to be able to publish. That's a lot of classes! And you will not be able to use the onRightClick event unless the component is sub-classed.

The proxy event seems a lot more flexible.

[2016-05-17 20:01] semako opened #79 "IFrame or Native Browser support"
Would be a good if PHP-GUI support IFrame and/or manipulating native browsers.

[2016-05-18 01:13] gabrielrcouto commented on #79
@semako would be great! Can you help me with that?

[2016-05-18 01:15] semako commented on #79
No problems with PHP side.

[2016-06-01 12:58] nkreer opened #80 "php-gui applications instantly crash on OS X"
Hey,

I did some extensive testing with the library today and found that most applications crash on startup. I've tried all the examples available in the repository and only 02 and 06 could be started successfully.
Running phpunit gave me this warning:

[code]

All other tests passed without any warnings.

I tested with both the current development branch and the 1.0 release on Mac OS X El Capitan

[2016-06-16 15:33] donatj opened #81 ">=5.6 Makes Apps Not Distributable on OS X"
OS X 10.11 natively comes with PHP 5.5, having 5.6 as a requirement makes apps built in this not easily redistributable, as they require the end user to have a non-system version of PHP.

My end goal for app building would be to have these usable by people who don't need to know or care about PHP, at all. They should have no reason to even know my app is developed in PHP.

[2016-06-21 17:11] JiaFeiX commented on #76
@JetAlone I use some BAT file start examples,  check this https://github.com/XunCCC/PHP-GUI-WinTest

BAT files  is not the right way, and I hope  the "packer" for the GUI application.  @gabrielrcouto

[2016-06-22 05:26] JetAlone commented on #76
@JiaFeiX  YEAP! This is best method. In what language are binaries? Can you publish as open source?

[2016-06-26 13:30] nkreer commented on #80
Turns out that this has to do with Lazarus being incompatible with OS Xs accessibility features.

[2016-06-26 13:30] #80 closed

[2016-07-04 20:14] s-chizhik opened #82 "Add ProgressBar support"
Hi! I guess `ProgressBar` support will be great.
I've tried to create `\Gui\Components\ProgressBar`, with `$lazarusClass = 'TProgressBar';`, but it doesn't work at all. I'm just not familiar with lazarus  :-)

[2016-07-15 14:44] alexmsilva commented on #33
@gabrielrcouto I guess you can close this issue :-)

[2016-07-16 21:39] Simplesmente commented on #33
Yes, of course.

[2016-07-16 22:12] #33 closed

[2016-08-13 04:48] JiaFeiX commented on #76
@JetAlone    https://redmine.lighttpd.net/projects/1/wiki/tutoriallighttpdandphp   It's LightHttp team's little tool , in the end of the page  .   I don't have source , it should be C

[2016-08-13 04:52] JiaFeiX commented on #76
http://superuser.com/questions/140047/how-to-run-a-batch-file-without-launching-a-command-window

[2016-08-19 12:52] lmanliang opened #84 "runing on ARM"
Can runing ARM ?
example ArchLinux-arm

[2016-09-11 16:09] leledumbo commented on #84
As far as source code is concerned, yes. It doesn't use any platform specific code so it should be compileable on all platforms supported by Free Pascal. Just tested compiling for ARMHF (Raspberry Pi).

[2016-09-12 11:39] reisraff commented on #84
@gabrielrcouto I guess you can add to the README and explanation like

;)

[2016-09-12 18:13] lmanliang commented on #84
thx. i well to try it for arm.

[2016-09-12 18:14] #84 closed

[2016-09-19 20:22] HackMemory opened #85 "TOpenDialog method"
Hello! I rebuild the lazarus and I added the TOpenDialog.
`RegisterClass(TOpenDialog);`

And when I "Execute", its not working
I'm calling like this:
`$this->call('execute', []);`

Where is my mistake?
Sorry for my English!

[2016-10-10 06:56] forsona commented on #76
I use 'RunHiddenConsole.exe' to hide the console, but a thread  named 'conhost.exe' still running in the background( if I run it again, another thread appears ). So I want to know how to start an event before close the window,  in that case, I can kill it by using some command
I try by using "$app->on('exit',.....)", but nothing happened -. -||

[2016-11-16 10:04] garygreen opened #90 "Why would you use this over something like Electron?"
Curious as to how php-gui compares. Both are targeted at builing cross platform apps, but surely php-gui is more a niche with it's own api (millions of devs already know HTML/CSS than a custom api to build a GUI).

When would you choose php-gui over something like Electron?

[2016-11-16 12:56] reisraff commented on #90
https://github.com/gabrielrcouto/php-gui#why

[2016-11-16 13:15] garygreen commented on #90
@reisraff you've linked to the readme which mentions nothing about electron, which this question is about specifically

[2016-11-16 13:35] reisraff commented on #90
@garygreen I really don't know how to compare with electron, I don't like to tell in name to another people hahaha but I guess @gabrielrcouto made this not to have a battle with electron, and yes to have a new way to build applications with PHP.

[2016-11-17 01:18] gabrielrcouto commented on #90
Hi @garygreen, thank you for the good question!

I choose PHP-GUI when I just want to share some PHP dev app using composer and get some help of people who are better in PHP than HTML/CSS/JS, or when I don’t want to open a browser to draw just a button.

PHP-GUI was created to be more like a “native” way to build GUIs, it’s like what C++ developers have, a UI library that can communicate with the

[2016-11-17 01:18] #90 closed

[2016-11-17 09:53] garygreen commented on #90
Thanks for the detailed explanation. So php-gui is a good choice for building simple fast native GUI's, though if you need anything ui-complex, or are comfortable with frontend development and don't necessarily mind about memory / speed, Electron is possibly better suited.

As a web developer, I hope this will happen. Thanks again 😄

[2016-11-17 10:09] reisraff commented on #85
@akper can you show you commit diff? so that way we can see what is happening :wink:

[2016-11-17 10:55] #32 closed

[2016-11-17 12:13] reisraff commented on #54
done :wink:

[2016-11-17 12:13] reisraff commented on #47
Done :wink:

[2016-11-18 16:35] reisraff commented on #43
#104

[2017-01-24 00:55] PeratX commented on #76
Use a VBS file to start the php.

Set ws = CreateObject("Wscript.Shell")
ws.run "php a.php",vbhide

[2017-01-24 12:20] reisraff commented on #76
@forsona

I try by using "$app->on('exit',.....)", but nothing happened -. -||

Now it works with my PR https://github.com/gabrielrcouto/php-gui/pull/108

[2017-01-25 13:23] PeratX commented on #43
Use a binary stream xD

[2017-02-16 14:16] styks1987 commented on #85
I'm interested in the dialog method as well do you have plans to implement this? If I wanted to implement it do you have any things you have thought through on that subject? I assume there is a reason there is no component for it already

[2017-02-16 23:57] everton3x commented on #85
@styks1987, I'm working on something similar: TFileNameEdit. I also have a PR with the TDirectoryEdit implementation, but I'm still struggling with Travis-CI to fix minor errors in formatting the code.

[2017-02-17 03:26] styks1987 commented on #85
@everton3x - Hey great job. Thank you. Just compiled and tested that out. Looks good so far.

[2017-02-17 18:13] everton3x opened #110 "GetObjectProperty does not work for properties in collection format"
I am trying to implement _TFileNameEdit_ and I encountered problems using the _DialogFiles_ property to return the selected files, regardless of whether or not the _ofAllowMultiSelect_ is used.

_TFileNameEdit.DialogFiles_ seems to return a string collection with the name of the selected files. The return type is _TStrings_.

From what I saw in the source code in Lazarus, _TIpcThread.GetObjectProp

[2017-02-17 18:18] reisraff commented on #110
Please, create a PR with the code you have done, so I'll reproduce here, to understand what is happening, so then I tell you if I discover, what you need do.

[2017-02-17 21:49] reisraff commented on #110
I created a PR in your fork repository with some changes for you continue.

https://github.com/everton3x/php-gui/pull/1/files

[2017-02-17 21:50] reisraff commented on #110
@gabrielrcouto I guess it can be closed... If you give me access in this repository I can help you manage it.

[2017-02-18 18:26] everton3x commented on #110
Thanks to @reisraff's help I was able to implement TFileNameEdit.

Basically, the GetObjectProperty has modified the IF / ELSE that identifies whether the property value is integer or string to also identify if the calling property is TFileNameEdit.DialogFiles.

I still find it interesting to think of a generic way of finding property values in Array format.

I'm going to start studying Free Pasca

[2017-02-20 00:40] #82 closed

[2017-02-20 00:41] #110 closed

[2017-02-20 00:51] #54 closed

[2017-02-20 00:51] #47 closed

[2017-02-21 18:49] everton3x opened #112 "Suggestion to rename component: Radio to RadioGroup"
The Radio component implements TRadioGroup. It would not be more appropriate to rename it to RadioGroup since there is also a component in LCL called TRadioButton. I understand that within the proposal to bring the nomenclature of components to the Web nomenclature, this change was in keeping with the fact that the present Radio is in fact a group of Radios.

[2017-03-07 08:32] #76 closed

[2017-03-15 10:06] xpader opened #114 "How to close main window, and some advice."
I used

`$closeButton->on('click', function() use ($application) {
	exit();
});`

to close the window, the php process is exit, but the window is still exists.
and a little time later, some error happend.

And hope have some feature to use xml file to create ui.

[2017-04-05 17:31] alrik11es commented on #114
I've discovered looking at the code that:
[code]
Does the same thing. In fact this should be probably the "right way" of doing this.

But I have to say that the terminal doesn't exit using this. Not closing also when exiting the window clicking on the [X] button.

Thats why your solution works best and seems the best right now.

[2017-04-05 17:43] reisraff commented on #114
https://github.com/gabrielrcouto/php-gui/blob/master/src/Application.php#L343

[2017-04-05 17:52] alrik11es commented on #114
So `$application->terminate()` thanks for pointing out.

[2017-04-05 17:56] #114 closed

[2017-04-05 18:02] reisraff commented on #85
Its already on master #109

[2017-04-05 18:02] #85 closed

[2017-04-06 07:04] xpader commented on #114
I changed code to this:
$closeButton->on('click', function() use ($application) { $application->terminate(); });
When click close button, the console was closed, but phpgui window still not close, and when click another button, the window closed.

[2017-05-04 18:50] piiih opened #115 "Keyboard Input"
Is there something like a keydown on some object that isn't inputText? I couldn't find something like that :/

[2017-05-04 21:05] piiih commented on #115
I've founded on window, sry for issue

[2017-05-04 21:05] #115 closed

[2017-05-08 19:07] reisraff commented on #114
Hey guys, I found a bug about this issue, so... with this patch #118 it is fixed

[2017-05-09 12:27] alrik11es opened #119 "Centering the form in screen dynamically"
Is it possible with PHP-GUI? How can I access such data like screen size, mouse position?

[2017-05-10 18:22] reisraff commented on #119
You can get the application windows size doing:

[code]

And also the window position with getLeft and getTop methods but the mouse position I guess we still can not retrieve it.

[2017-05-12 10:46] alrik11es commented on #119
Thanks @reisraff. I really think this library is a great improvement to the PHP world. Keep up the great work.

[2017-05-12 10:46] #119 closed

[2017-07-07 02:50] medivh-jay opened #121 "in windows 10 ， the canvas may be stop responding"
不好意思，英文太差，我还是用中文吧，在windows10系统上运行例子的时候，canvas的例子会卡死出现问题

[2017-08-04 02:17] OMGZui opened #122 "Three Package is abandoned :("
Package kherge/version is abandoned, you should avoid using it. No replacement was suggested.
Package herrera-io/json is abandoned, you should avoid using it. Use kherge/json instead.
Package herrera-io/phar-update is abandoned, you should avoid using it. No replacement was suggested.

[2017-10-02 03:33] cubiclesoft opened #126 "Standard handle pipes do not work the same on Windows"
Unfortunately, Windows itself does not support non-blocking I/O on Windows pipes, which includes the standard handles used for CreateProcess().  It's an issue leftover from the early days of Windows and not something that Microsoft can easily fix or they would have already fixed it.  You've accidentally run into a fundamental low-level Win32 CreateProcess() API bug.  Since standard handles are alm

[2017-10-05 06:50] RandomLive opened #127 "JSON ERROR: TCarbonClipboard.Create Error: PasteboardCreate primary selection failed with result -4960"
[code]
i run my program many time, but today occur this error, this error occur first time. who know this error?

[2017-10-05 11:06] RandomLive commented on #127
when I restart terminal, and run agian, the bug is gone.

[2017-10-15 05:48] donatj commented on #81
High Sierra now ships with 7.1, closing.

[2017-10-15 05:48] #81 closed

[2017-10-28 12:34] GaneshKandu opened #128 "Hi"
# What is this can we create desktop application using php???

[2017-11-06 04:47] cryptokat opened #129 "PHP 7.2 Incompatibility Issue"
`Object` is no longer a valid class name since php 7.2 https://github.com/php/php-src/commit/8e10c9d37398f0f3eece85fca713f19d11cdfb32

[code]

[2017-11-17 00:34] gabrielrcouto opened #131 "Setup AppVeyor for binaries build flow"
We need a more secure way to build the binaries, as commented on #125

[2017-11-17 00:36] gabrielrcouto commented on #129
Oh boy, now we need a new name 😢

Thank you @cryptokat, I'll keep this issue opened until the name refactor.

[2017-11-17 00:37] gabrielrcouto commented on #128
# Yes, you can

[2017-11-17 00:37] #128 closed

[2017-11-17 00:38] gabrielrcouto commented on #127
@RandomLive I never seen this error, do you use Windows?

[2017-11-17 01:02] gabrielrcouto commented on #126
Wow, this is one of the best issue descriptions which I've read on my projects, thank you very much @cubiclesoft for your time.

I agree with everything you said. Initially, I used the stdin/stdout to enable easy SSH tunneling (you execute the PHP side on a server, and the Lazarus side on your computer, something like a thin client, but yes, you can do this using TCP/IP), but, as you said, non-blo

[2017-11-17 08:18] RandomLive commented on #127
@gabrielrcouto no, I use mac os, and run in tmux session manager will occur this error.

[2017-11-17 14:52] cubiclesoft commented on #126
I tend to do a lot of research first before writing any code.  Haven't settled on anything yet.  I have been working on a major project for the last 8 months now so research for future projects and lightweight dev work is mostly all I can spare for brief distractions.

[2018-02-08 15:33] dignityinside commented on #122
+1

[2018-02-08 17:35] reisraff commented on #122
Please, open a PR with these replacements.

[2018-02-24 08:52] andreybolonin commented on #129
https://github.com/gabrielrcouto/php-gui/pull/134

[2018-02-24 13:55] reisraff commented on #129
#134 merged

[2018-02-24 13:55] #129 closed

[2018-03-05 03:28] xiagg opened #136 "php7.2 Fatal error"
Fatal error: Cannot use Gui\Components\Object as Object because 'Object' is a sp
ecial class name in D:\phpgui\vendor\gabrielrcouto\php-gui\src\Application.php o
n line 5

Not urgent,but would be a problem.

big thanks for this project!

[2018-03-05 11:38] reisraff commented on #136
https://github.com/gabrielrcouto/php-gui/issues/129

[2018-03-05 11:38] #136 closed

[2018-04-11 22:42] trowski commented on #126
[amphp/process](https://github.com/amphp/process) supports non-blocking I/O on process pipes on Windows. Amp also has the [amphp/parallel](https://github.com/amphp/parallel) package that may make IPC even easier.

@gabrielrcouto I'd be curious to know your thoughts of switching to Amp for process management. Note that Amp is compatible with any ReactPHP packages, so that may help ease the transiti

[2018-04-12 13:46] cubiclesoft commented on #126
The code for setting up socket communications should happen in the Lazarus process itself so that sockets are used across all platforms.  The EXE shim is a hack to solve process I/O blocking on Windows, which adds an extra process to the mix but isn't needed when control over the target process already exists.

[2018-04-13 12:40] gabrielrcouto commented on #126
@trowski thank you for the recommendation, amphp is an amazing project. After your comment, I made some tests and, as @cubiclesoft said, the EXE shim solves the problems, but adds one more process to control, and the Lazarus continues to be a problem, really unstable using pipes.

Well, your comment made me to refocus on this project, and after 2 days of working, I did the migration of all the IPC

[2018-04-13 15:31] reisraff commented on #126
@gabrielrcouto it had worked perfect, obviously that we need do a double check and find for bugs, ant things like that, but, you gotcha :+1:

[2018-04-21 04:55] linuxphp opened #137 "$application->getWindow() work not well in example demo"
See: vendor/gabrielrcouto/php-gui/examples/03-window/example.php 【PHP with version 7.2.0 NTS】

    $button->on('click', function () use ($button, $application) {
        $window = ($application->getWindow());
        //var_dump($application->getWindow());
        if ($window->getHeight() == 600) {
            $window->setHeight(300);
        } else {
            $window->setHeight(600);
        }

[2018-06-03 15:58] bozhinov opened #138 "Uncaught LogicException: Windows isn't supported due to the blocking nature of STDIN/STDOUT/STDERR pipes"
hello,

I get this with PHP 7.2.6 x86

C:\Users\Momchil\Desktop\PHP-GUI>php examples\01-basic\example.php
PHP Fatal error:  Uncaught LogicException: Windows isn't supported due to the blocking nature of STDIN/STDOUT/STDERR pipes. in C:\Users\Momchil\Desktop\PHP-GUI\react\ChildProcess\Process.php:52
Stack trace:
#0 C:\Users\Momchil\Desktop\PHP-GUI\src\Application.php(286): React\ChildProcess\Proces

[2018-06-03 16:10] bozhinov opened #139 "Uncaught Error: Call to undefined method React\EventLoop\Timer\Timer::getLoop()"
hello,

Sooo, I commented out the code from issue #138
but then I ran into this:

PHP Fatal error:  Uncaught Error: Call to undefined method React\EventLoop\Timer\Timer::getLoop() in C:\Users\Momchil\Desktop\PHP-GUI\Gui\Application.php:298
Stack trace:
#0 [internal function]: Gui\Application->Gui\{closure}(Object(React\EventLoop\Timer\Timer))
#1 C:\Users\Momchil\Desktop\PHP-GUI\React\Timer\Timers.

[2018-07-03 13:08] helpermethod opened #141 "Suggestion: Remove set prefix from setters"
Hi,

first of all, great project, will probably use this is a few side projects.
Regarding the API:
While it looks pretty nice, I think it can be improved by removing the `set` prefixes from the setters, like so

[code]

The `set` prefix is redundant here, and removing it gives it a more declarative feel. What do you think?

[2018-07-07 11:29] simivar opened #142 "Rename class Object"
In PHP 7.2 `Object` is a reserved keyword and when you try to run `php-gui` you get:
[code]

[2018-07-10 17:17] simivar commented on #142
@reisraff So it would be nice to release a new version.
@gabrielrcouto: maybe you would consider releasing new version after those 2 years?

[2018-07-10 17:39] reisraff commented on #142
I think its the deal, since we have the new upgrade on the protocol communication working.

[2018-07-13 06:43] Elevioux opened #143 "Can't run in php7.2 environment"
Trying run the example code in php7.2 environment, got this error

PHP Fatal error:  Cannot use Gui\Components\Object as Object because 'Object' is a special class name in D:\phpcli\gui\vendor\gabrielrcouto\php-gui\src\Application.php on line 5

Things are fine in 7.1

[2018-07-13 10:55] aolko commented on #143
#136

[2018-07-17 11:33] andreybolonin commented on #143
@Elevioux user `dev-master` version.
This pr is merged https://github.com/gabrielrcouto/php-gui/pull/134

[2018-07-17 12:22] dan8551 opened #144 "Unable to receive clicks in Windows 10 under PHP 7.2"
Tried all demos and console is not receiving any click events using PHP 7.2.7 and also php 5.6.36 using latest sources,

[2018-08-14 22:33] renatosc commented on #143
I confirm the dev-master works.

If you are using composer, make sure your composer.json is loading the library as:
`"require": {
        "gabrielrcouto/php-gui": "dev-master"
    }`

[2018-08-14 23:47] renatosc opened #145 "How do I display a jpg image in the window?"
How can I display a jpg/png image inside a Window? Do I need to read the image file as a binary array and use Canvas?

[2018-08-15 15:14] reisraff commented on #145
For now its just possible with canvas, we should add a new component to load a jpg/png/etc... using http://lazarus-ccr.sourceforge.net/docs/lcl/graphics/tpicture.html.

[2018-08-19 13:28] devalexandre opened #146 "Grids and Actions"
How I can use a Grid or Table for display registers, Have some Component for it?

[2018-08-27 04:15] ghostjat opened #147 "Not working with php5.6 and 7.2"
Not working properly. No click event working, mdi is not working properly

[2018-10-09 19:30] Solobearus opened #148 "cant seem to install using composer"
when i run:
`composer require gabrielrcouto/php-gui`

i get:

am i doing something wrong?

[2018-10-09 19:35] reisraff commented on #148
Could you please send us your php version, and the full message that composer has sent you?

[2018-10-09 19:44] Solobearus commented on #148
this is the php version:

[code]

and this is the full massage:

[code]

[2018-10-09 19:49] reisraff commented on #148
Your project that your are working on has dependencies that conflicts with gabrielrcouto/php-gui dependencies.

Maybe this one "evenement/evenement v3.0.1" is conflicting with "react/child-process"

[2018-10-18 23:15] #148 closed

[2018-10-22 01:35] CzarnyZajaczek opened #149 "How to run app without docker?"
./lazarus/linux-docker.sh
standard_init_linux.go:178: exec user process caused "exec format error"

but I have only binary compiled for my architecture, and when I run it directly it displays window (without widgets of course)

[2018-10-22 20:29] CzarnyZajaczek commented on #149
update

just changed `phpgui-x86_64-linux` in file src/Application.php to `phpgui-i386-linux`
and it now works (I'm currently using i686 system architecture on AMD64 computer to be able to temporarily run the same system installation on my other old PC which is i686)

[2018-10-24 18:46] reisraff commented on #149
#150

[2018-10-24 21:35] #149 closed

[2018-11-01 14:25] CViniciusSDias opened #152 "Cannot use Gui\Components\Object as Object because 'Object' is a special class name"
When trying to run the example with PHP 7.2 on Windows  10 I receive the following error:
PHP Fatal error:  Cannot use Gui\Components\Object as Object because 'Object' is a special class name in {project-path}\vendor\gabrielrcouto\php-gui\src\Application.php on line 5

Fatal error: Cannot use Gui\Components\Object as Object because 'Object' is a special class name in {project-path}\vendor\gabrielr

[2018-11-01 14:48] reisraff commented on #152
The fix is patched on master, not yet tagged.

[2018-11-01 14:48] #152 closed

[2018-11-28 23:08] AMDG2 commented on #144
I confirm this issue on Windows 10. What information can we provide to help you debug the issue ?

[2019-01-06 23:17] jawira opened #153 "New release plz"
A lot of issues were solved since the first release from **2016** 😞, I'm thinking specially about issue #136.
So, could you please launch a new release?, it could be v0.1.1 for example.

Thanks a lot for your amazing job 👍

[2019-01-07 02:15] insign commented on #153
#134 didnt solve this?

[2019-01-07 08:48] jawira commented on #153
Well, yes it did.
But when I do a `composer update` changes are never pulled.

[2019-01-16 08:10] kingga opened #154 "[Windows 10] Click event is not working PHP 7.2"
noticed that someone else has brought this up a year ago but I though I would mention it again with some more information:

`$app->on('start', function () use ($app, $router) {
    // $router->handle('main');
    $btn = (new Button())->setValue('Click');
    $btn->on('click', function () use ($app) {
        $app->terminate();
    });
});

$app->run();I`

The button gets created but the click even

[2019-01-17 12:18] reisraff commented on #153
On it!

[2019-01-18 16:35] reisraff commented on #153
https://github.com/gabrielrcouto/php-gui/releases/tag/v0.1.1

[2019-01-18 16:35] #153 closed

[2019-01-19 05:04] kingga commented on #154
The problem seems to be on the Receiver::onData() function after doing some testing I managed to get the line:
`<= Received: {"method": "callObjectEventListener", "params": [5, "onclick"]}`
printed into the console.

Obviously this isn't a permanent fix but this was what was happening:
[code]
The reply I was receiving wasn't terminated with a NULL character.

Log:
$ php app.php
[code]

[2019-01-21 12:12] reisraff commented on #144
#154

[2019-01-21 12:12] #144 closed

[2019-01-21 12:13] reisraff commented on #147
Could you give more information like:
Operation system, what code are you trying to run, the output log, etc...

[2019-01-21 12:14] reisraff commented on #146
It is not implemented yet.

[2019-01-21 12:15] reisraff commented on #145
#158

[2019-01-21 12:16] reisraff commented on #143
The new tag solve this problem

[2019-01-21 12:16] #143 closed

[2019-01-23 06:08] kingga commented on #154
I can have a look at this when my time frees up a bit, possibly in the weekend.

[2019-01-28 13:05] #146 closed

[2019-01-28 13:14] #145 closed

[2019-01-28 13:22] #147 closed

[2019-01-28 17:59] #154 closed

[2019-01-28 18:01] reisraff commented on #137
@blogdaren could you try once more with the master branch update?

[2019-01-31 14:23] reisraff commented on #121
I think #160 has fixed this issue, so I am gonna close this.

[2019-01-31 14:23] #121 closed

[2019-02-08 12:14] lafraga93 opened #162 "Table Component Not Work"
Thanks for implement table component, but this element is not created when event handler is call and can't show errors in console output.

I try debug, but unsuccessful...

I'm running on Windows10 x64. This can help identify a problem?

[2019-02-08 12:21] reisraff commented on #162
It is because is not released yet, if you are forking the master branch, take in mind, that is not the stable version, looking at the git log I see that there is no compilation for windows after this component implementation.

That is, you need compile before use this new component.

[2019-02-08 12:21] #162 closed

[2019-02-08 13:06] lafraga93 commented on #162
Thanks, it works! I need to pull request with changes after compile?  I fork the master branch because I had problems on event click in the stable version.

[2019-02-08 13:18] reisraff commented on #162
would be good, we haven't implemented yet the automatic compilation, since we need to ask for some people to compile for us on windows/mac etc..

[2019-02-08 16:59] reisraff opened #164 "onData Windows error"
https://github.com/gabrielrcouto/php-gui/commit/1ffd89c2815d83d1cdec94d1ee26abaedd0d8de9#commitcomment-32248065

[2019-02-25 16:58] paiva-thiago opened #165 "Invalid argument supplied for foreach() in D:\paiva\geraCpf\vendor\gabrielrcouto\php-gui\src\Ipc\Receiver.php"
Hello everbody.

I'm facing a problem while executing an code with php-gui:

Executing this code, when I click the $button, the error below appears and the event does not execute
[code]

[code]

I was evaluating the values and I believe the problem might be in Receiver.php in line 176. Below is this class between lines 171 and 183:

[code]
The comparisons in the lines 171 and 176 are equals and wi

[2019-02-26 06:01] kingga commented on #165
What did the `$data` and `$splits` variable look like look like after line 242 `$splits = $this->jsonSplit($data);`, was it a boolean? If so maybe this should be done:
[code]

[2019-02-26 06:24] kingga commented on #165
This was the problem `<` vs `>`:
[code]

[2019-02-26 11:15] paiva-thiago commented on #165
@kingga
If I am not wrong, `$fcurl > $fbrac`  and `$fbrac < $fcurl` will return the same result.

And the purpose of this comparison is for checking the first positions of the `{` (`$fcurl`) and `[` (`$fbrac`), and for verify who comes first.

That's the reason I changed for `$fcurl < $fbrac ` in the condition. It will check if the curl comes before the brackets.

And I agree about adding a valida

[2019-02-26 15:01] reisraff commented on #165
#166 merged

[2019-02-26 15:01] #165 closed

[2019-02-26 15:01] reisraff commented on #164
#166 merged

[2019-02-26 15:01] #164 closed

[2019-03-18 07:28] exeQutor commented on #79
Is the iframe or browser support available now?

[2019-04-15 22:19] vonHabsi opened #167 "Can the RPC system work in any another language?"
Can the RPC system work in any another language?

If the PHP is implemented in another language and it has a similar JSONRPC library will it be able to work with the FreePascal interface?

By that I mean whether the FPC side has PHP related dependencies.

[2019-06-04 07:14] imsheng opened #168 "TextArea bug"
![image](https://user-images.githubusercontent.com/10435075/58858821-0f0d4b00-86db-11e9-9e3d-50e7afe263b9.png)
![image](https://user-images.githubusercontent.com/10435075/58858840-1896b300-86db-11e9-88e2-7ff12fe45b67.png)

dump($text1->getValue());

When my string is long and long，no return value

[2019-06-12 10:54] Cavaldier opened #169 "Set default value for Select"
I want to set and display default value for select but i dont see any function for Select to set that. It issue or can be that in future? Someone can help?

[2019-06-17 02:21] WinterSilence commented on #169
@Cavaldier u can extend any class. also u can set/get any other properties/classes from Lazarus elements/classes:
[code]
but need recompile `/php-gui/lazarus/` before

[2019-06-17 05:51] WinterSilence opened #170 "How gets list of lazarus components and his properties?"
Creating new classes manually for too long, I would like to automate it.

[2019-06-17 09:59] Cavaldier commented on #169
@WinterSilence ok, but i don`t want to recompile all project. I using only netbeans and i cant recompile lazarus ;/ so that to set "default value" for select won`t be created?

[2019-06-17 11:48] WinterSilence commented on #169
@Cavaldier extends class https://github.com/gabrielrcouto/php-gui/blob/master/src/Components/Select.php
[code]

[2019-06-26 07:32] Cavaldier commented on #169
But that only work on 0.1.1 version gui, how do it on 0.1? I got outdated library, but i dont want to upgrade to newest, because its too much work to refactor all in my project. My Select class extends Object, not VisualObject @WinterSilence

[2019-06-27 10:32] Cavaldier opened #171 "Try to open new Application - blank window"
After i just create #1 window on new Application(object), fill my data closing #1 window and try to create diffrent #2 window on diffrent new Application(object) but #2 window is blank, any object isnt on it. In logs i see ids starts again for new object of Application start from begin, but i "saw" something weird on #1 window - something appear like i want on #2 window. It can be like lib cant us

[2019-06-27 11:37] WinterSilence commented on #169
@Cavaldier why not rewrite u code to 0.1.1?

[2019-06-27 11:38] WinterSilence commented on #169
@Cavaldier then its u problem, need write something like this.

[2019-06-28 09:27] Cavaldier commented on #169
@WinterSilence can you tell me how i can show multiple application with diffrent items? Because when i adds items all goes to first window, not second(declared second new Application)

[2019-06-28 11:43] WinterSilence commented on #169
@Cavaldier facepalm...

[2019-07-10 03:29] feamsr00 opened #172 "*bars and other components"
So! If the Lazarus LCL includes such timeless classics as MenuBars, ToolBars, and StatusBars (oh my!), how do we expose them on the PHP side?

[2019-07-10 13:26] reisraff commented on #172
It's about implement all them in this file https://github.com/gabrielrcouto/php-gui/blob/master/lazarus/unitipcthread.pas over the IPC protocol.

[2019-07-10 13:26] #172 closed, assigned to nobody

[2019-07-11 04:54] feamsr00 commented on #172
Hi @reisraff. Thanks for getting back to me. You said "It's" about to implement them all. Whats "Its"?

[2019-07-11 13:05] reisraff commented on #172
you should implement... those LCL.

On Thu, Jul 11, 2019, 1:54 AM Chris <notifications@github.com> wrote:

[2019-07-11 19:53] feamsr00 commented on #172
I could consider that, indeed. That file seems to have some, but not a heck of a lot of comments. Is there anywhere that has a write up on how to dive into that?

[2019-07-11 20:00] reisraff commented on #172
no I think, you should read the code, and try yourself, what you can do, is
search for some "implementation commit" of some LCL component and learn
with this.

On Thu, Jul 11, 2019 at 4:54 PM Chris <notifications@github.com> wrote:

[2019-07-11 20:06] reisraff commented on #172
like this one: https://github.com/gabrielrcouto/php-gui/commit/1675096062f2cad695e914a805c9c43bb23004b0

[2019-09-10 15:29] naive17 opened #173 "Cannot empty the view to build another page"
I wish i could destroy all the objects and rebuild another view, but it works for like 2 times and then it glitch

[2019-09-10 16:09] reisraff commented on #173
could you paste here all the output and code of this?

[2019-09-13 20:37] reisraff commented on #170
Today in this project there is no way.

[2019-09-24 21:52] jawira opened #176 "Using InputFile for a single file"
Hello, I'm trying to use `InputFile` to load a single file, but I can't find a way to do it.

I was trying to reuse the code from one of the examples:

https://github.com/gabrielrcouto/php-gui/blob/7849019063a2513b6b865c09c97991d40e20ce18/examples/11-forms/02-example.php#L22-L28

I was hopping to force _single file selection_ removing the following line:

https://github.com/gabrielrcouto/php-gui/b

[2019-10-02 10:56] ade951 opened #177 "Does the library have keyboard events?"
In order to develop my game, I need a keydown event but I didn't find it.

[2020-01-30 21:51] sartaj-sphp opened #178 "String Conversion in JSON"
If you pass like "C:\Users\Music\6d4d6e0d-62b5-4d11-b55e-72ff65993492.m4a" string in double quotes then json_encode convert hexadecimal portion after back slash, so result is C:\Users\Music\u0006d4d6e0d-62b5-4d11-b55e-72ff65993492.m4a . use single quotation or double slash working fine. This is because PHP behaviour so this may be fix on future PHP version but this is very critical to convert stri

[2020-01-30 23:25] #178 closed, assigned to nobody

[2020-01-30 23:27] sartaj-sphp commented on #178
This is PHP issue, so i am closing it.

[2020-01-31 02:44] sartaj-sphp commented on #43
I found few problems in communication between PHP and Pascal. There are no data type conversion in protocol. Pascal is more hard so it need more information before process any code. There are no dynamic call in Pascal side so limited development. My suggestion is that the protocol should have value:datatype format which can convert on pascal side. JSON data type is always string but pascal may nee

[2020-01-31 02:47] sartaj-sphp opened #179 "Dynamic Call on Pascal side with Rtti"
I am not Pascal programmer, can anybody suggest me how can i dynamically call method of class from object like reflections on other languages. I found Rtti but not idea how to use this .. This is link https://github.com/graemeg/freepascal/blob/master/packages/rtl-objpas/src/inc/rtti.pp

[2020-05-13 15:17] samfch opened #180 "MacOS built only for 32bit?"
Running image example didn't show the image. I'm using Mojave. Is it because of 32bit only lazarus built?

I've try to compile php-gui on Mojave and got this result:
`(3104) Compiling ./carbon/carbonbars.pp
/opt/local/share/lazarus/lcl/interfaces/./carbon/carbonbars.pp(16,2) Error: (2023) User defined: only cpu i386 is supported
(3104) Compiling ./carbon/carbonprivate.pp
(3104) Compiling ./carbon/

[2020-05-18 16:20] still-dreaming-1 opened #181 "Sponsor link on README is broken"
I was thinking about sponsoring, possibly, maybe. But the link is broken.

https://app.codesponsor.io/link/bvezX9B9cTJTidmcB4iikNff/gabrielrcouto/php-gui

[2020-05-23 11:22] still-dreaming-1 opened #182 "README example doesn't change button text after clicking button"
OS: Windows 10 (10.0.18363 Build 18363)
php: 7.4.6 x64 thread safe
php-gui: v0.1.1

The button name doesn't change when you click it. I also added a log inside the handler, that code is not running at all. So it is not that it tries to change the button text but fails, the on click code just isn't running.

[2020-05-23 11:37] still-dreaming-1 commented on #182
Updated to dev-master and now it works. Seems this could use a release, unless you'r thinking other stuff is broken on master that is not in the last release.

[2020-05-23 11:37] #182 closed, assigned to nobody

[2020-05-30 20:44] still-dreaming-1 commented on #122
Looks like maybe this one is done? I'm not sure where the packages were supposedly used, but I don't see them in composer.json.

[2020-05-30 22:46] still-dreaming-1 commented on #138
When using the latest master code, and I don't experience this. But I manually updated the react/child-process dependency to a newer version, as I was trying to update php-gui to use the newest version, and then I experience a similar exception. Looking at their (react/child-process) release notes, it sounds like this was perhaps not compatible with Windows all along, but they made it more clear b

[2020-06-04 03:21] panteleyR commented on #177
+

[2020-06-06 08:17] feamsr00 commented on #122
Can offer a random confirmation.
Fresh install w/ php 7.4
[code]
I can if not here, I can only assume it got fixed upstream...
Regardless, it's not pinned to crazy broken library and works on current php (7.4.6)
⭐

[2020-06-06 13:43] still-dreaming-1 commented on #122
Actually I misunderstood the OP. They mentioned 3 packages by name and claimed they were abandoned. I looked for them in php-gui's composer.json and didn't see them. That is all I was observing. I didn't realize this was something composer was reporting. I thought I had a memory of eventually noticing similar but different messages from composer about packages while installing, but now I can't rep

[2020-06-18 02:45] davekimble2 opened #183 "what is "function () use ($app) { ... }""
I have written many apps in wxPHP and wxPython.
This is my first in php-gui.

In /examples/03-window/example.php, lines 17- 26:
[code]
What is this strange PHP ?
I can only assume it is an anonymous function with some kind of alias (?)
What is an alternative, less mysterious, way to write it ?
[code]
as in wxPHP, doesn't seem to enter function OnInit().

[2020-06-18 07:25] Luxian commented on #183
[code]
Is an [anonymous function](https://www.php.net/manual/en/functions.anonymous.php).

----
Why `OnInit` is not being called I'm not sure. Maybe you need to pass it in a callable form:
[code]

[2020-06-18 14:02] still-dreaming-1 commented on #183
The part where it adds `use ($application)` means it is making the `$application` variable in scope inside of the anonymous function body, between the curly braces. By default the local variables are not in scope inside an anonymous function, but you can bring specific ones in scope by adding a `use` with specific variables you want to be in scope. Instead of passing an anymous function, you can p

[2020-06-19 03:17] davekimble2 commented on #183
Thank you for your help.
After a good night's sleep, my alternative normal function worked OK.
The next question is: why use anonymous functions at all, when it only serves to obscure what is required ?

Moving on, all constructor methods seem to require $defaultAttributes, but what this holds is not described anywhere.  The documentation says it is an array, but I don't know what goes in it.
What

[2020-06-19 16:59] still-dreaming-1 commented on #183
I agree the default and available attributes and options for many parts of the code should be made more explicit. I think they should be turned into separate named PHP parameters instead of just an array you pass in that can contain anything.

As far as using anonymous functions, what it really requires is a callable. An anonymous function is just one type of callable. If I had to guess, I would s

[2020-06-21 22:37] davekimble2 commented on #183
An instance of Application creates a top level window, which I will call a frame, to distinguish it from other windows.  It is in this instance that all the child controls should be setup.

So I have set this up as template.php, with a frame and a number of controls, in my simple style with normal functions, driven by a configuration section of simple data declarations. This template can then used

[2020-06-22 03:02] davekimble2 commented on #183
I see in /examples/13-table/example.php another class, \Gui\Components\Table , which is not mentioned in https://gabrielrcouto.github.io/php-gui/dist/#/0.1.1/
and gives "not found" on "new Table();" .
Is there is way to get it ?
Why the backslashes ?

[2020-06-22 06:57] davekimble2 commented on #183
Is there a mechanism to use scrollbars to view all the text in a TextArea ?
All this should be explained in an overview document somewhere.

[2020-06-23 04:52] davekimble2 commented on #183
[template.2.php.txt](https://github.com/gabrielrcouto/php-gui/files/4817206/template.2.php.txt)
I have fixed up template, back to the way it was, and got Radio and Checkbox working OK.
There is still a problem with InputFile:
[code]
should get an array of the files selected, but it has an empty array, even though I selected one.  Additionally setting the Title of the selection window, doesn't appe

[2020-06-24 04:44] davekimble2 commented on #183
The Title has magically started appearing on the InputFile TitleBar.
InputFile method of getValue() is still not working - returning zero-length array.

What is this "Disk full" warning, and how do I get more space ?

[2020-06-24 04:55] davekimble2 commented on #183
If a $text->setValue() string contains adjacent spaces, they appear in the box as a single space.

[2020-06-24 06:25] davekimble2 commented on #183
Is php-gui currently being supported/developed ?
It is useless like this.

[2020-06-24 06:28] davekimble2 opened #184 "Is php-gui currently being supported/developed ?"
Is php-gui currently being supported/developed ?

[2020-06-25 18:10] still-dreaming-1 commented on #184
This is not intended to be an answer to your question, and I am not associated with this project, but I still feel there is a possibility this information might help you or other people interested in a way to develop a program with a GUI where the GUI library is well supported and actively developed. This is more just my experience, my perspective, and some things I have learned.

For me personall

[2020-06-25 21:35] davekimble2 commented on #184
Thanks for that comment.

My latest template is
[template.3.php.txt](https://github.com/gabrielrcouto/php-gui/files/4833932/template.3.php.txt)

Personal Comments

I came to php-gui as a beginner, with experience of wxPHP and wxPython.  There was no overview written for people like me, only highly abstract PHP examples, which I couldn't understand.

The Class Application creates a top level window

[2020-11-21 02:01] misscx opened #186 "部分实例在7.2.23下无法正常运行么？"
部分实例在7.2.23下无法正常运行么？

[2021-01-06 21:50] vonHabsi commented on #184
I think some knowledge of Lazarus is needed to use this package properly.

As Lazarus is always changing some updates will need to be made to this package.

I suggest anyone using this program to develop some Lazarus skills.

[2021-01-28 03:55] hoangphuctv commented on #186
Mình không thể click vào nút được.

[2021-06-04 11:14] sudo123 opened #187 "The Document Page can not open!"
Hello,
The Document Page can not open!
The Project is Excellent indeed.
I want to use it but lose the document,help me,check it please.
Thanks u.

[2021-06-04 11:32] sudo123 commented on #184
use c#, another choice.
I want to try php-gui,but now I need give up .

[2021-06-08 21:48] jawira commented on #176
Sad, this project seems abandoned 🪦

[2021-06-15 22:52] #176 closed, assigned to nobody

[2021-07-12 16:00] terremoth opened #189 "Way to compile php file and create standalone .exe so others can execute"
Is there a way to do this?

[2021-12-09 09:44] lostcodder commented on #189
You can create small programm in C and attach to end of exe file archive with PHP interpreter and your PHP scripts. You programm shoud unpack archive from itself into temporary dir and execute PHP

[2021-12-10 13:28] terremoth commented on #189
Have you done this before?

[2022-04-27 07:54] ShadowEO commented on #189
It could be possible to compile it using something like [PeachPie](https://peachpie.io). I haven't tried compiling anything written with this library just yet, but since it doesn't require a new PHP extension and appears to rely on IPC, it should work just fine provided the other dependencies are with it the finished product (and where the library expects them)

It may provide you with a few more

[2022-05-27 19:16] DubbaThony opened #190 "Create tag for composer"
Current version on GH on master contains major fix for windows, but it's not available on composer. I suggest creating version tag

[2022-05-28 19:12] DubbaThony commented on #189
To add to what other have siad, there is also [rapidexe](https://deneskellner.com/sw/rapidexe) but it will work only on windows. You can manually bundle your runtime so even if its a touch old, it will work with any php version/config (or other runtime) you need.

[2022-05-28 19:15] DubbaThony opened #191 "Quotes in text field generate JSON Exception"
It looks like Lazarus has an issue with JSON encoding. For example if field contains exacly string `[""]`, and its read, it gives an error:
[code]
The quotes weren't escaped to proper json.

[2022-06-26 14:46] wenzhizhong opened #193 "I want to know , how to do set background image、set components radius?"
![image](https://user-images.githubusercontent.com/26361414/175819979-89cb171f-8ff0-4659-9120-ae57c874a599.png)

Another question，the example of  examples/12-image/example.php , can't now  show the image   betterly